@model PagedList.Core.IPagedList<Foroffer.Models.Post>

<section class="posts">
    <div class="post-container">

        @if(Model == null || Model.Count() == 0)
        {
            <h5>Belə bir məhsul/xidmət üzrə nəticə tapılmadı</h5><br />
            <h5>
                Azərbaycan dilində axtarış edərkən düzgün qramatik yazılışa əməl etmək önəmlidir. Əgər yazılışda şübhəlisinizsə,
                istədiyiniz məhsul/xidməti müvafiq kateqoriya/subkateqoriyadan axtarmağınız məsləhətlidir.
            </h5>
        }

        @{
            int n = 0;
        }
        @foreach (Post item in Model)
        {

            if (n % 4 == 0)
            {
                @:<div class="row">
                }
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="post">
                        <div class="heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                    <img class="postlogo" src="~/images/@item.Company.LogoPath">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                    <div class="titles">
                                        <p class="ptitle">@item.Company.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postcontent">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="uppart">
                                        <h6>@item.Title</h6>
                                    </div>
                                    <div class="imgframe">
                                        @if (item.URL != null)
                                        {
                                            <a href="@item.URL" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                    </div>
                                    <div class="posttext">
                                        <p>
                                            @item.Description
                                        </p>
                                        <p class="formore">
                                            <strong>Ətraflı:</strong>
                                            @if (item.URL != null)
                                            {
                                                <a href="@item.URL" target="_blank">BURADA</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank">BURADA</a>
                                            }
                                        </p>
                                    </div>
                                    <div class="dates">
                                        <p class="postdate">Tarix: @item.CreatedDate.ToString("dd/MM/yyyy") _________</p>
                                        @if (item.ExpirationDate.ToString("dd/MM/yyyy") == "01.01.2019" || item.ExpirationDate.ToString("dd/MM/yyyy") == "01/01/2019")
                                        {
                                            <p class="expdate">Bitme tarix: </p>
                                        }
                                        else
                                        {
                                            <p class="expdate">Bitme tarix: @item.ExpirationDate.ToString("dd/MM/yyyy") </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                if (n % 4 == 3)
                {
                @: </div>
            }

            n++;
        }

    </div>
    <table border="1">
        <tr>
            <td colspan="3" align="center">
                <pager list="@Model" asp-controller="Home" asp-action="Search" asp-route-keyword="@ViewBag.keyword"/>
            </td>
        </tr>
    </table>
</section>
<section class="mdposts">
    <div class="post-container">

        @{
            int m = 0;
        }
        @foreach (Post item in Model)
        {
            if (m % 3 == 0)
            {
                @:<div class="row">
                }
                <div class="col-md-4">
                    <div class="post">
                        <div class="heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                    <img class="postlogo" src="~/images/@item.Company.LogoPath">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                    <div class="titles">
                                        <p class="ptitle">@item.Company.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postcontent">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="uppart">
                                        <h6>@item.Title</h6>
                                    </div>
                                    <div class="imgframe">
                                        @if (item.URL != null)
                                        {
                                            <a href="@item.URL" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                    </div>
                                    <div class="posttext">
                                        <p>
                                            @item.Description
                                        </p>
                                        <p class="formore">
                                            <strong>Ətraflı:</strong>
                                            @if (item.URL != null)
                                            {
                                                <a href="@item.URL" target="_blank">BURADA</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank">BURADA</a>
                                            }
                                        </p>
                                    </div>
                                    <div class="dates">
                                        <p class="postdate">Tarix: @item.CreatedDate.ToString("dd/MM/yyyy") _________</p>
                                        @if (item.ExpirationDate.ToString("dd/MM/yyyy") == "01.01.2019" || item.ExpirationDate.ToString("dd/MM/yyyy") == "01/01/2019")
                                        {
                                            <p class="expdate">Bitme tarix: </p>
                                        }
                                        else
                                        {
                                            <p class="expdate">Bitme tarix: @item.ExpirationDate.ToString("dd/MM/yyyy") </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                if (m % 3 == 2)
                {
                @: </div>
            }

            m++;
        }

    </div>
</section>

