@model Foroffer.Models.ViewModels.SubViewModel

@{
    ViewData["Title"] = "Category";
}

<section class="subcat">
    <div class="filters">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="subicons">
                    <button id="subdress">Submenu <i class="fas fa-caret-down"></i></button>
                    <ul class="firstlist">
                        <li><a asp-action="ClothSub" asp-controller="Home" asp-route-id="97">Hər kəsə</a></li>
                        <li>
                            <a asp-action="ManCloth" asp-controller="Home">Kişi</a>
                            <!-- ul for second list - man  -->
                        </li>
                        <li>
                            <a asp-action="WomanCloth" asp-controller="Home">Qadın</a>
                            <!-- ul for second list - woman  -->
                        </li>
                        <li>
                            <a asp-action="BabyCloth" asp-controller="Home">Uşaq</a>
                            <!-- ul for second list - baby -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="companies">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="scrolled">Şirkət seçimi <span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" id="compul">
                            @foreach (var element in ViewBag.Posts)
                            {
                                <li><a class="dropdown-item" asp-action="getCompany" asp-controller="Home" asp-route-id="@element.CompanyId">@element.Company.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">

            </div>
            <div class="col-lg-3 col-md-3">

            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
<section class="posts">
    <div class="post-container">

        @{
            int n = 0;
        }
        @foreach (Post item in Model.Posts)
        {
            if (n % 4 == 0)
            {
                @:<div class="row">
                }
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="post">
                        <div class="heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                    <img class="postlogo" src="~/images/@item.Company.LogoPath">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                    <div class="titles">
                                        <p class="ptitle">@item.Company.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postcontent">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="uppart">
                                        <h6>@item.Title</h6>
                                    </div>
                                    <div class="imgframe">
                                        @if (item.URL != null)
                                        {
                                            <a href="@item.URL" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                    </div>
                                    <div class="posttext">
                                        <p>
                                            @item.Description
                                        </p>
                                        <p class="formore">

                                            @if (item.URL != null)
                                            {
                                                <a href="@item.URL" target="_blank">ƏTRAFLI</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id">ƏTRAFLI</a>
                                            }
                                        </p>
                                    </div>
                                    <div class="dates">
                                        <p class="postdate">Tarix: @item.CreatedDate.ToString("dd/MM/yyyy") _________</p>
                                        <p class="expdate">Bitme tarix: @item.ExpirationDate.ToString("dd/MM/yyyy") </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                if (n % 4 == 3)
                {
                @: </div>
            }

            n++;
        }

    </div>
</section>
<section class="mdposts">
    <div class="post-container">

        @{
            int m = 0;
        }
        @foreach (Post item in Model.Posts)
        {
            if (m % 3 == 0)
            {
                @:<div class="row">
                }
                <div class="col-md-4">
                    <div class="post">
                        <div class="heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                    <img class="postlogo" src="~/images/@item.Company.LogoPath">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                    <div class="titles">
                                        <p class="ptitle">@item.Company.Name</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postcontent">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="uppart">
                                        <h6>@item.Title</h6>
                                    </div>
                                    <div class="imgframe">
                                        @if (item.URL != null)
                                        {
                                            <a href="@item.URL" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Detailed" asp-controller="Detailed" asp-route-id="@item.Id" target="_blank"><img class="postimg" src="~/images/@item.Image"></a>
                                        }
                                    </div>
                                    <div class="posttext">
                                        <p>
                                            @item.Description
                                        </p>
                                        <p class="formore">

                                            <a href="@item.URL" target="_blank">ƏTRAFLI</a>
                                        </p>
                                    </div>
                                    <div class="dates">
                                        <p class="postdate">Tarix: @item.CreatedDate.ToString("dd/MM/yyyy") _________</p>
                                        <p class="expdate">Bitme tarix: @item.ExpirationDate.ToString("dd/MM/yyyy") </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                if (m % 3 == 2)
                {
                @: </div>
            }

            m++;
        }

    </div>
    <div class="mobcompanies">
        <h6>Şirkət seçimi</h6>
        <select>
            <option class="choose">Secim</option>
            @foreach (Post element in Model.Posts)
            {
                <option>@element.Company.Name</option>
            }

        </select>
    </div>
</section>




